@model Product
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    <h2>
        @Model.Title
    </h2>
    <h2>
        @Model.Subtitle
    </h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
    <div>
        <p>
            @Model.cost ₽
        </p>
    </div>
    <div>
        @Html.Raw(Model.Text)
    </div>
</div>

<a class="btn btn-outline-success" asp-area="" asp-controller="Basket" asp-action="addToBasket" asp-route-id="@Model.Id">Добавить в корзину</a>