@model IQueryable<Order>

<div>
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Управление</th>
            <th>Статус</th>
        </tr>
        @if (Model.Any())
        {
            <tr>
                @foreach (Order entity in Model)
                {
                    <tr>
                        <td><p>@entity.Name</p></td>
                        <td><p>@entity.Surname</p></td>
                        <td><p>@entity.Adress</p></td>
                        <td><p>@entity.Phone</p></td>
                        <td> <a class="btn btn-danger div-box" asp-area="Manager" asp-controller="Order" asp-action="Delete" asp-route-id="@entity.Id">Удалить</a> 
                             <a class="btn btn-info div-box" asp-area="Manager" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@entity.Id">Подробнее</a> </td>
                        <td><p>@entity.Status</p>
                            <form method="post">
                                <input type="hidden" name="email" value="@entity.Email" />
                                <p>
                                    <label for="status">Выберите статус:</label>
                                    <select name="status">
                                        <option value="Оплачен">Оплачен</option>
                                        <option value="В пути">В пути</option>
                                        <option value="Доставлен">Доставлен</option>
                                    </select>
                                </p>

                                <p>
                                    <input class="btn btn-success" type="submit" value="Отправить" />
                                </p>
                            </form>
                        </td>


                    </tr>
                }
            </tr>
        }
    </table>
</div>