@model IQueryable<Product>

@if (Model.Any())
{
    <div>
        <table>
            <tr>
                <th>Товары</th>
                <th>Цена</th>
                <th>Находится на главном меню?</th>
                <th>Доступна для заказа?</th>
                <th >Управление</th>
            </tr>
            @foreach (Product entity in Model)
            {
                <tr>
                    <td><img src="~/images/@entity.TitleImagePath" alt="" class="img" />
                    @($"{entity.Title}")</td>
                    <td>@($"{entity.cost.ToString("c")}")</td>
                    @if ($"{entity.isFavorites}" == $"True")
                    {
                        <td class="h7 y">Да</td>
                    }
                    else
                    {
                        <td class="h7 n">Нет</td>
                    }
                    @if ($"{entity.available}" == $"True")
                    {
                        <td class="h7 y">Да</td>
                    }
                    else
                    {
                        <td class="h7 n">Нет</td>
                    }
                    <td> <a class="btn btn-warning div-box" asp-area="Manager"  asp-controller="Product" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
                         <a class="btn btn-danger div-box" asp-area="Manager" asp-controller="Product" asp-action="Delete" asp-route-id="@entity.Id">Удалить</a>
                         <a class="btn btn-info div-box" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@entity.Id">Подробнее</a> </td>
                </tr>
                }
        </table>
    </div>
}
else
{
    <h1>В данный момент товары отсутвствуют</h1>
}