@model IQueryable<ServiceItem>

@if (Model.Any())
{
    <div>
        <table>
            <tr>
                <th>Картинка</th>
                <th>Название</th>
                <th>Название вкладки</th>
                <th>Краткое описание</th>
                <th>Ключевые знаки</th>
                <th>Управление</th>
            </tr>
            @foreach (ServiceItem entity in Model)
            {
        <tr>
            <td><img src="~/images/@entity.TitleImagePath" alt="" class="img" /></td>
            <td>@($"{entity.Title}")</td>
            <td>@($"{entity.MetaTitle}")</td>
            <td>@($"{entity.MetaDescription}")</td>
            <td>@($"{entity.MetaKeywords}")</td>
            <td> <a class="btn btn-warning div-box" asp-area="Manager" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
                 <a class="btn btn-danger div-box" asp-area="Manager" asp-controller="ServiceItems" asp-action="Delete" asp-route-id="@entity.Id">Удалить</a>
                 <a class="btn btn-info div-box" asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">Подробнее</a> </td>
        </tr>
            }
        </table>
    </div>
}
else
{
    <h1>В данный момент услуги отсутвствуют</h1>
}